.character-details-page {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    img {
        border-radius: 10px;
        width: 250px;
        height: auto;
        margin-bottom: 20px;
    }

    h2 {
        margin: 10px 0;
    }

    p {
        margin: 5px 0;
        font-size: 1.1em;
    }
}
